@import "/blocks/logo/logo.css";
@import "/blocks/logo/_place/logo_place_header.css";
@import "/blocks/logo/_place/logo_place_footer.css";

@import "/blocks/header/header.css";
@import "/blocks/header/__subtitle/header__subtitle.css";
@import "/blocks/header/__title/header__title.css";
@import "/blocks/header/__main-illustration/header__main-illustration.css";
@import "/blocks/header/__square-pic/header__square-pic.css";
@import "/blocks/rotation/rotation.css";
@import "/blocks/header/__link/header__link.css";

@import "/blocks/techniques/techniques.css";
@import "/blocks/cards/cards.css";
@import "/blocks/cards/__item/cards__item.css";
@import "/blocks/cards/__image/cards__image.css";
@import "/blocks/cards/__title/cards__title.css";
@import "/blocks/cards/__description/cards__description.css";

@import "/blocks/description/description.css";
@import "/blocks/two-columns/two-columns.css";
@import "/blocks/two-columns/__brief/two-columns__brief.css";
@import "/blocks/two-columns/__main-text/two-columns__main-text.css";
@import "/blocks/two-columns/__paragraph/two-columns__paragraph.css";
@import "/blocks/two-columns/__span-accent/two-columns__span-accent.css";

@import "/blocks/digits/digits.css";
@import "/blocks/section-subtitle/section-subtitle.css";
@import "/blocks/section-subtitle/_theme/section-subtitle_theme_dark.css";
@import "/blocks/section-title/setion-title.css";
@import "/blocks/section-title/_theme/section-title_theme_dark.css";
@import "/blocks/table/table.css";
@import "/blocks/table/__cell/table__cell.css";
@import "/blocks/table/__heading/table__heading.css";
@import "/blocks/table/__text/table__text.css";
@import "/blocks/table/__cell/_theme/table__cell_theme_dark.css";

@import "/blocks/feynman/feynman.css";
@import "/blocks/feynman/__title/feynman__title.css";
@import "/blocks/feynman/__subtitile/feynman__subtitle.css";
@import "/blocks/feynman/__link/feynman__link.css";

@import "/blocks/kaufman/kaufman.css";
@import "/blocks/kaufman/__triangle/kaufman__triangle.css";

@import "/blocks/footer/footer.css";
@import "/blocks/footer/__columns/footer__columns.css";
@import "/blocks/footer/__column/_content/footer__column_content_copyright.css";
@import "/blocks/footer/__column/_content/footer__column_content_info.css";
@import "/blocks/footer/__column/_content/footer__column_content_social.css";
@import "/blocks/footer/__column-heading/footer__column-heading.css";
@import "/blocks/footer/__column-links/footer__column-links.css";
@import "/blocks/footer/__column-link/footer__column-link.css";
@import "/blocks/footer/__social-icon/footer__social-icon.css";

@import "/blocks/footer/__author/footer__author.css";

/* пока не знаю куда положить кастомные свойства */
:root {
  --color-bg-dark: #1f1f1f;
  --color-bg-light: #f2f2f2;
  --color-accent: #2f80ed;
  --color-text: #000;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
